<% javascript_include_tag  "pagination" %>

<% if current_user %>

	<div class="container-fluid">
      <div class="row-fluid">
		<%= render :partial => "shared/sidebar" %>

		<div class ="span9">
			<h3>Outbox</h3>

			<% flash.each do |name, msg| %>
		    	<%= content_tag :div, msg, :id => "flash#{name}", :class => "alert" %>
		    <% end %>

			<div id = "outbox">
				<%= render "outbox" %>
			</div>
		</div>
	  </div>
    </div>
<% else %>
	<%= render :template => "sessions/new" %>
<% end %>
