<% javascript_include_tag  "pagination" %>

<%if current_user.admin%>
	<div class="container-fluid">
	  <div class="row-fluid">
		<%= render :partial => "admin/nav" %>
		<div class ="span9">
			<% flash.each do |name, msg| %>
		    	<%= content_tag :div, msg, :id => "flash#{name}", :class => "alert" %>
		    <% end %>
			<div id = "comments">
				<%= render "comments" %>
			</div>
		</div>
	  </div>
	 </div>
<%end%>