<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h2>About Us</h2>
    <p>UPshoppe is a web application that aims for convenient searching and purchasing of products for anyone. Sportshoppe's main goal is to promote local selling of goods to promote small and young enterprenuers.</p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <%=link_to image_tag("search.jpg")%>
      <h2>Search</h2>
      <p>Search for your favorite shop/user or a product that will satisfy your needs. </p>
    </div>
    <div class="span4">
      <%=link_to image_tag("buy.jpg")%>
      <h2>Buy</h2>
      <p>Not sure where to spend all that money? Try buying in UPshoppe. Sign up for an account and get started on spending your money for quality products. </p> 
   </div>
    <div class="span4">
      <%=link_to image_tag("sell.jpg")%>
      <h2>Sell</h2>
      <p>Start up a business that will change your life. UPshoppe offers an account for shops. Raise your popularity and gain patrons for free.</p>
    </div>
 </div>
