	<% javascript_include_tag  "pagination" %>

	<div class="container-fluid">
      <div class="row-fluid">
		<%= render :partial => "shared/sidebar" %>

		
		
		<div class = "span9", id = "pradaks">
			
			<%= render "pradaks" %>
			
		</div>
	</div>
</div>